body, html {
    height: 100%;
    background: url("https://i.imgur.com/vZujtjh.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500 !important;
  }


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #465c9700;
    color:#000000!important ;
  }
  
  .flex-container > h1 {
    background-color: #465c9700;
    width: 100%;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 1.2;
    font-size: 2em;
    font-weight: 500;
  }

  div.col-md-9 {
    position: right !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  div.col-md-3 {
      position: right !important;
      margin-top: 10px !important;
      background-color:#465c9700 !important;
  }

  .btn-primary {
    color: rgb(0, 0, 0) !important;
    background-color: #11b9b000 !important;
    border-color: #73e0dacb !important;
    font-weight: 500 !important;
}

.card {
    position: right !important;
    background-color: #11b9b000 !important;
    border: 1px solid #73e0da00 !important;
    color:#000000 !important;
    
}